{% extends "layout.html" %}

{% block main %}
  <h1>This is a test app to demonstrate SimpleAuth.</h1>
  {% if logged_in %}
    <h1>Hey there. Looks like you're logged in already.</h1>
    <a href="{{ url_for('profile') }}" class="btn"><h1>my profile</h1></a>
    <a href="/logout" class="btn">logout</a>
  {% else %}
    <h1>Try logging in with one of these:</h1>
    <p>
      <a href="/auth/googleplus?destination_url={{ destination_url }}"
         class="btn">Google+</a>
      <a href="/auth/facebook?destination_url={{ destination_url }}"
         class="btn">Facebook</a>
      <a href="/auth/openid?identity_url=me.yahoo.com"
         class="btn">Yahoo! (OpenID)</a>
    </p>
    <h1>destination_url: <span>{{ destination_url }}</span></h1>
  {% endif %}
{% endblock %}
